.CadastroPage{
    display: flex; 
    flex-direction: row;  
}
#add{
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.CadastroForm{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #18191a;
    border-radius: 5px;
    padding: 5px;
}
.CadastroInputProduto {
    color: #000;
    font-size: 12pt;
    height: 22px;
    margin-left: 15px;
    width: 150px;
    border-radius: 4px;
    /*padding: 0 0em 0 1em;*/
}
.CadastroInputFile {
    color: #000;
    font-size: 12pt;
    height: 22px;
    width: 150px;
    border-radius: 4px;
    display: none;
}
.cadastroCentIn{
    margin-left: auto;
    margin-right: 6px;
}
.labelInputimg {
    margin-top: 2px;
    padding: 4px 10px;
    width: 144px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 2px;
}
.CadastroInputPartes {
    color: #000;
    font-size: 12pt;
    margin-left: 15px;
    height: 22px;
    width: 80px;
    border-radius: 4px;
    padding: 0 0em 0 1em;
}
.CalcContainerCenter{
    margin: top 30px;
    margin-left: 20px;
}
.CalcTitulo{
    margin-left: 5px;
}
.CadastroTitulo{
    text-align: center;
    line-height: 0.08;
}
.CadastroForm label{
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
}
.CadastroButton{
    height: 25px;
    border-radius: 2px;
    font-size: medium;
    color: #000;
    background-color: #fff;
    border: none;
}
