* {
    color: #fff;
}
.logoloja {
    margin-top: 230px;
    Width: 240px;
    height: 250px;
}
.lojaname {
    margin-top:10px;
    font-size: 30pt;
    margin-bottom: 90px;
}
.container {
    
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    font-size: 30pt;
    text-decoration :none;
}