.imagepicker{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
.list{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.reginp{
    margin-top:30px;
    border-radius: 20px;
    border-color: #666 ;
    font-size:14pt;
    text-align:center;
}
.titulo{
    text-align: center;
}
