*{
    color:#fff;
}
.icone {
    Width: 30px;
    height: 30px;
}
.flexItem{
    display: flex;
    flex-direction: row;
}
.InCalc{
    margin-left: 15px;
    font-size: 12pt;
    width: 100px;
    background-color:transparent;
    border: none;
    outline: none;
}
.line{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.soma{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
