*{
    color:#fff;
}
.icone {
    Width: 30px;
    height: 30px;
}
.flexItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.InCalc{
    height:30px;
    color: #000;
    font-size: 12pt;
    width: 100px;
    border-radius: 20px;
    padding: 0 0em 0 1em;
}
.line{
   margin-top: 10px; 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.soma{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.flexItem p{
    margin-left: 10px;
    font-size: 12pt;
} 

