.ProdutoContainer{
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: auto;
    background-color: #18191A;
    display:flex;
    flex-direction: column ;
}
.ProdutoContainer:hover{
    box-shadow: 0px 0px 10px #fff;
}
.Produtoimg{
    height:205px ;
    width:200px ;
    object-fit:scale-down;
}
.ProdutoDescription{
    margin: auto;
    line-height:0.2;
}

.ProdutoButton{
    font-weight: 600;
    color: #18191A;
}
.ProdutoP{
    font-size: small;
    text-decoration: none;
}
